<html>
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="wrapper">
            <form id="loginForm" action="/login" method="post" autocomplete="off">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" name="username" placeholder="Username" autocomplete="off" required>
                    <i class='bx bxs-user'></i> 
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" autocomplete="off" required>
                    <i class='bx bxs-lock-alt'></i> 
                </div>
                <button type="submit" class="btn">Login</button>
                <div th:if="${error != null}">
                    <p style="color: aqua;">Usuario o contraseña incorrectos</p>
                </div>
            </form>
        </div>
    </body>
</html>